[Unit]
Description=Execute detect_v4.py systemd service.
Wants=network-online.target
After=network-online.target

[Service]
PAMName=login
Type=simple
User=mendel
Environment=DISPLAY=:0
WorkingDirectory = /home/mendel/face_recognition/
ExecStart=python3 detect_v4.py
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target